<!DOCTYPE html>
<html>
<head>
<style>
body{font-family:Inter,sans-serif;background:linear-gradient(135deg,#020617,#111827);display:flex;height:100vh;justify-content:center;align-items:center;color:white}
.card{padding:45px;width:500px;text-align:center;background:rgba(255,255,255,.08);backdrop-filter:blur(20px);border-radius:30px}
a{display:block;padding:16px;margin-top:15px;background:white;color:black;text-decoration:none;border-radius:16px;font-weight:600}
</style>
</head>
<body>
<div class='card'>
<h1>✅ Anonymization Complete</h1><br>
<p>Your file has been processed securely.</p>
<a href='/getfile'>Download File</a>
<a href='/'>Upload Another File</a>
</div>
</body>
</html>